@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');



/* ---- CSS Reset ---- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 100px auto 100px;
    display: grid;
    grid-template-columns: repeat(3, 270px);
    border-radius: 8px;
    overflow: hidden;
}

.grid-item {
    display: block;
    width: 270px;
    height: 460px;
    padding: 30px;
    background-color: hsl(31, 77%, 52%);
    position: relative;
}
.grid-item:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}
.grid-item:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
}
.grid-item h1 {
    margin: 20px 0 30px;
    font-family: 'Big Shoulders Display', sans-serif;
    color: hsl(0, 0%, 95%);
}
.grid-item p {
    font-family: 'Lexend Deca', sans-serif;
    margin: 30px 0;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 2em;
}
.grid-item button {
    padding: 10px 20px;
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 20px;
    color: hsl(31, 77%, 52%);
    position: absolute;
    bottom: 30px;
}
.grid-item:nth-child(2) button {
    color: hsl(184, 100%, 22%);
}
.grid-item:nth-child(3) button {
    color: hsl(179, 100%, 13%);
}
.grid-item button:hover {
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 15px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-height: 660px) {
    footer {
        position: static;
        margin: 40px auto 15px;
    }
}